*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5px;

}

.num{
    display: flex;
    justify-content: center;
    font-size: 55px;
}



.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,82,213,1) 18%, rgba(36,101,219,1) 27%, rgba(7,201,253,1) 32%, rgba(6,202,253,1) 34%, rgba(0,212,255,1) 70%, rgba(34,107,221,1) 75%);
}